<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

<title>Registration Form Results</title>
<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"
	href="../js/jquery-ui-1.11.4/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="css/reg.css"/>

<script type="text/javascript"
	src="../js/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/reg.js"></script>
</head>
<body>


<div>
 <p th:text="'id: ' + ${user.id}" />
 <p th:text="'First Name: ' + ${user.firstName}" />
 <p th:text="'Last Name: ' + ${user.lastName}" />
 <p th:text="'Address1: ' + ${user.address1}" />
 <p th:text="'address2: ' + ${user.address2}" />
 <p th:text="'City: ' + ${user.city}" />
 <p th:text="'State: ' + ${user.state}" />
 <p th:text="'Zip: ' + ${user.zip}" />
 <p th:text="'Email: ' + ${user.email}" />
 <p th:text="'Confirm Email: ' + ${user.cemail}" />
 </div>
 
 

</body>
</html>